.carousel {
  max-width: 327px;
  margin: auto;
  --slide-height: 100%;
  --slide-spacing: 8px;
  --slide-size: auto;
  position: relative;
  z-index: 0;
}
.carousel__viewport {
  overflow: hidden;
}
.carousel__container {
  display: flex;
  align-items: center;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.carousel__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 160px;
  height: 220px;
  padding: 24px;
  border-radius: 16px;
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  margin-left: var(--slide-spacing);
  background-color: var(--background-white);
  box-shadow: 0 0 8px 0 rgba(27, 54, 65, 0.08);
}

.carousel__slide__img {
  border-radius: 100%;
}

.carousel__slide__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.47;
  color: var(--typography-bluedark);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .carousel {
    max-width: 688px;
    --slide-spacing: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .carousel {
    max-width: 1280px;
    --slide-spacing: 24px;
  }

  .carousel__slide {
    max-width: 236px;
    height: 272px;
  }

  .carousel__slide__img {
    width: 180px;
    height: 180px;
  }
}

@media screen and (min-width: 1920px) {
  .carousel {
    max-width: 1680px;
  }

  .carousel__slide {
    max-width: 260px;
    height: 324px;
  }

  .carousel__slide__img {
    width: 212px;
    height: 212px;
  }

  .carousel__slide__title {
    font-size: 16px;
    line-height: 1.5;
  }
}
